.listBox {
	--button: #2b2a33;
	--right-answer: #00ffa2;
	--wrong-answer: #ff7171;

	font-family: var(--font-geist-mono);
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.01em;
}

@media (prefers-color-scheme: dark) {
	.listBox {
		--right-answer: #038253;
		--wrong-answer: #ad3434;
	}
}

.listItem:not(:last-of-type) {
	margin-bottom: 8px;
}

.listItem {
	display: flex;
	flex-direction: column;
}

.listItem button {
	appearance: none;
	border-radius: 10px;
	min-height: 48px;
	padding: 12px 20px;
	border: none;
	background: var(--button);
	transition: background 0.2s, color 0.2s;
	cursor: pointer;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.listItem button:hover:not(:disabled):not(.right):not(.wrong) {
		background: var(--button-hover);
	}
}

.listItem button:disabled {
	color: var(--foreground);
}

.listItem button:disabled:not(.right):not(.wrong) {
	opacity: 0.6;
}

button.right {
	background: var(--right-answer);
}

button.wrong {
	background: var(--wrong-answer);
	animation: error 0.2s;
}

@keyframes error {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-3px);
	}
	75% {
		transform: translateX(3px);
	}
	100% {
		transform: translateX(0);
	}
}

@media (max-width: 600px) {
	.main {
		align-items: center;
	}

	.listItem button {
		justify-content: center;
	}
}
