.page {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);

	--button-hover: #f2f2f2;

	--right-answer: #00ffa2;
	--wrong-answer: #ff7171;

	display: grid;
	grid-template-rows: 1fr 20px;
	align-items: center;
	justify-items: center;
	min-height: 100svh;
	padding: 80px;
	font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-hover: #1a1a1a;

		--right-answer: #038253;
		--wrong-answer: #ad3434;
	}
}

.nav {
	grid-row-start: 2;
	display: flex;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 32px;
	grid-row-start: 1;
}

.listBox {
	font-family: var(--font-geist-mono);
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.01em;
}

.listItem:not(:last-of-type) {
	margin-bottom: 8px;
}

.listItem {
	display: flex;
	flex-direction: column;
}

.listItem a,
.listItem button {
	appearance: none;
	border-radius: 10px;
	padding: 12px 20px;
	border: none;
	border: 2px solid transparent;
	transition: background 0.2s, color 0.2s, border-color 0.2s;
	cursor: pointer;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}

.listItem button:disabled {
	color: var(--foreground);
}

a.secondary {
	border-color: var(--gray-alpha-200);
}

button.right {
	background: var(--right-answer);
}

button.wrong {
	background: var(--wrong-answer);
	animation: error 0.2s;
}

@keyframes error {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-3px);
	}
	75% {
		transform: translateX(3px);
	}
	100% {
		transform: translateX(0);
	}
}

.resultText {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.resultText p {
	padding: 10px 20px;
	border-radius: 10px;
	background: var(--gray-alpha-100);
	font-family: var(--font-geist-mono);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	a.secondary:hover {
		background: var(--button-hover);
		border-color: transparent;
	}
}

@media (max-width: 600px) {
	.page {
		padding: 0 20px 40px;
	}

	.main {
		align-items: center;
	}

	.listItem a {
		font-size: 14px;
		padding: 0 16px;
	}

	.listItem button {
		justify-content: center;
	}
}
