.page {
	display: grid;
	grid-template-rows: 1fr 20px;
	align-items: center;
	justify-items: center;
	min-height: 100svh;
	padding: 0 80px 80px;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.resultText {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.resultText p {
	padding: 10px 20px;
	border-radius: 10px;
	background: hsl(var(--secondary));
	font-family: var(--font-geist-mono);
}

.link {
	padding: 15px;
}

@media (max-width: 600px) {
	.page {
		padding: 0 30px 40px;
	}

	.main {
		align-items: center;
	}
}
